<table class="table">
  <thead>
    <tr>
      <th>Var String</th>
      <th>{{name}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <!-- Using pipes -->
      <td>{{name | uppercase}}</td>
    </tr>
    <tr>
      <td>Number</td>
      <td>{{num}}</td>
    </tr>
    <tr>
      <td>Operation</td>
      <!-- arithmetic operation -->
      <td>{{num + 1}}</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="changeName()" [disabled]="name.length != 0">Change name</button>


<div class="form-group">
  <label for="name2">Name:</label>
  <input type="text" class="form-control" name="name" id="name" placeholder="Name" [(ngModel)]="name">
</div>